

/* Badges */
    
.badge-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    padding-top: 1.6rem; 
    padding-bottom: 2rem; 
   
}
    
.badge.coronita{
    background-color: transparent;
    color: #666666;
    padding: .5rem 0;
    position: relative;
    font-family: "Benton Sans Book", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 100;
    min-height: 3.2rem;
    min-width:  3.2rem;
    margin: 0 0 1.6rem 0;
    
    &:after {
        color: #f4f4f4;
        content: "";
        display: block;
        font-family: 'coronita';
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg); 
        font-size: 2.2em;
        left: 0;
        top: -0.8rem;
        position: absolute;
        z-index: -1;
    }
}
    
    
.badge.coronita ~ * {
    flex-basis: 100%;
}
    
.badge-container p:last-child,
.badge-container.horizontal p:last-child{
    margin-bottom: 0;
}

/*Badge Helper Classes*/    
.badge.coronita.lg{
    font-size: 4rem;
    padding: .25rem 1.4rem;
    min-width: 2.4rem;
    min-height: 2.4rem;
    
    &:after{
        top: -.8rem;
        font-size: 1.25em;
    }
}

         
.badge.coronita.sm{
    font-size: 1.2rem;
    padding: .75rem;
    min-width: 1.6rem;
    min-height: 1.6rem;
    
    &:after{
        top:-0.2rem;
    }
}
    

/*Horizontal Badges (experimental)*/
.badge-container.horizontal{
     flex-flow: row nowrap;
}
    
.badge-container.horizontal .badge{
    margin: 0 1.6rem 0 0;
    flex-shrink: 0;
}
