

/* Secondary Hero - Default */
// Background image is one of our Coronita "spotlight" backgrounds
// Foreground image stays within bounds of the section

.hero-secondary {
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  //min-height: 700px;
  min-height: 33rem;
  margin-bottom: 0;
  padding: 4em 0;

  .row {
    display: flex;
    align-items: center;
  }

  .hero-text {
    color: $white;
    width: 100%;

    .hero-h1 {
        color: $white;
        font-size: 4.2rem;
    }

    p {
      color: $white;
      //font-size: 1.3125em;
      width: 100%;
    }
  }

  .img-responsive {
    max-height: 35rem;
    margin: 0 auto;
    padding-right: 7%;
  }
}

/* Secondary Hero - Text on Left, Image on Right */
.hero-secondary.hero-text-left {
  .img-responsive {
    padding: 0 0 0 7%;
  }
}

/* Secondary Hero - Showcase */
// Background image is one of our Coronita "spotlight" backgrounds
// Foreground hero image pops out of the frame of the section

.hero-showcase {
  display: flex;
  align-items: center;
  margin-bottom: 2.5em;
  min-height: 700px;
  padding: 1em 0;
  position: relative;
  overflow: visible;

  .hero-text {
    background: transparent;
    margin: 0;
    padding: 1.75em 1.75em 0;
    width: 45%;
  }
  
  .hero-img-wrapper {
    height: auto;
    left: 50%;
    margin-left: -570px;
    overflow-y: visible;
    position: absolute;
    top: 0;
    width: 1140px;

    .hero-img {
      width: 67%;
      overflow-x: hidden;
      position: absolute;
      right: -9%;
      top: 6em;
      max-width: 750px;

      img {
        display: block;
        max-height: none;
        padding-right: 0;
        position: relative;
      }
    }
  }
}


