
/* Create the parallax scrolling effect */

.parallax-scroll { 
    height: 45rem;
    //background-position: center center;
    background-repeat: no-repeat;
    //background-attachment: fixed;
    background-size: cover;
}

