$icomoon-font-path: "../fonts" !default;

$ico-to_agenda: "\e900";
$ico-to_calculator: "\e901";
$ico-to_calendar: "\e902";
$ico-to_configuration: "\e903";
$ico-to_consult: "\e904";
$ico-to_copy: "\e905";
$ico-to_desktop: "\e906";
$ico-to_document: "\e907";
$ico-to_download: "\e908";
$ico-to_edit: "\e909";
$ico-to_excel: "\e90a";
$ico-to_filter: "\e90b";
$ico-to_graphics: "\e90c";
$ico-to_historic: "\e90d";
$ico-to_home: "\e90e";
$ico-to_idcard: "\e90f";
$ico-to_interactivity: "\e910";
$ico-to_listview: "\e911";
$ico-to_mobile_icon-26: "\e912";
$ico-to_mobile_icon-28: "\e913";
$ico-to_myprofile: "\e914";
$ico-to_pdf: "\e915";
$ico-to_print: "\e916";
$ico-to_safeforlater: "\e917";
$ico-to_search: "\e918";
$ico-to_settings: "\e919";
$ico-to_team: "\e91a";
$ico-to_titleview: "\e91b";
$ico-to_trash: "\e91c";
$ico-to_upload: "\e91d";
$ico-to_word: "\e91e";

