$icomoon-font-path: "../fonts" !default;

$ico-oa_auto: "\e900";
$ico-oa_autobank: "\e901";
$ico-oa_bank: "\e902";
$ico-oa_bar: "\e903";
$ico-oa_barcode: "\e904";
$ico-oa_bookstore: "\e905";
$ico-oa_build: "\e906";
$ico-oa_cashregister: "\e907";
$ico-oa_coffeshop: "\e908";
$ico-oa_discount: "\e909";
$ico-oa_donation: "\e90a";
$ico-oa_education: "\e90b";
$ico-oa_entretainment: "\e90c";
$ico-oa_executive: "\e90d";
$ico-oa_florist: "\e90e";
$ico-oa_furniture: "\e90f";
$ico-oa_health: "\e910";
$ico-oa_hotel: "\e911";
$ico-oa_jewel: "\e912";
$ico-oa_pets: "\e913";
$ico-oa_pinpadconnect: "\e914";
$ico-oa_pinpaddisconnected: "\e915";
$ico-oa_point: "\e916";
$ico-oa_promotion: "\e917";
$ico-oa_restaurant: "\e918";
$ico-oa_retail: "\e919";
$ico-oa_retirement: "\e91a";
$ico-oa_rewards: "\e91b";
$ico-oa_sales: "\e91c";
$ico-oa_savings: "\e91d";
$ico-oa_services: "\e91e";
$ico-oa_shop: "\e91f";
$ico-oa_shopping: "\e920";
$ico-oa_supermarket: "\e921";
$ico-oa_toys: "\e922";
$ico-oa_travel: "\e923";
$ico-oa_weather: "\e924";
$ico-oa_wellness: "\e925";

