$icomoon-font-path: "../fonts" !default;

$ico-sn_add: "\e900";
$ico-sn_back: "\e901";
$ico-sn_bbvaofice: "\e902";
$ico-sn_block: "\e903";
$ico-sn_checkmark: "\e904";
$ico-sn_close: "\e905";
$ico-sn_continue: "\e906";
$ico-sn_contract: "\e907";
$ico-sn_correct: "\e908";
$ico-sn_correctlocation: "\e909";
$ico-sn_error: "\e90a";
$ico-sn_expand: "\e90b";
$ico-sn_exploration: "\e90c";
$ico-sn_fingerprint: "\e90d";
$ico-sn_fold: "\e90e";
$ico-sn_forward: "\e90f";
$ico-sn_fraud: "\e910";
$ico-sn_getout: "\e911";
$ico-sn_hide: "\e912";
$ico-sn_link: "\e913";
$ico-sn_lock: "\e914";
$ico-sn_mapa: "\e915";
$ico-sn_menu: "\e916";
$ico-sn_more: "\e917";
$ico-sn_mylocation: "\e918";
$ico-sn_navigation: "\e919";
$ico-sn_nearme: "\e91a";
$ico-sn_on: "\e91b";
$ico-sn_phishing: "\e91c";
$ico-sn_place: "\e91d";
$ico-sn_return_icon-12: "\e91e";
$ico-sn_return_icon-15: "\e91f";
$ico-sn_seachinglocation: "\e920";
$ico-sn_security: "\e921";
$ico-sn_substract: "\e922";
$ico-sn_unfold: "\e923";
$ico-sn_unlock: "\e924";
$ico-sn_visualize: "\e925";
$ico-sn_walkingdirections: "\e926";
$ico-sn_withoutlocation: "\e927";

