$icomoon-font-path: "../fonts" !default;

$ico-fop_account: "\e900";
$ico-fop_atm: "\e901";
$ico-fop_balance: "\e902";
$ico-fop_bill: "\e903";
$ico-fop_blockcard: "\e904";
$ico-fop_cash: "\e905";
$ico-fop_chargecard: "\e906";
$ico-fop_chargemovil: "\e907";
$ico-fop_contract: "\e908";
$ico-fop_copycard: "\e909";
$ico-fop_creditcard: "\e90a";
$ico-fop_deposit: "\e90b";
$ico-fop_digitalcard: "\e90c";
$ico-fop_dischargecard: "\e90d";
$ico-fop_dollar: "\e90e";
$ico-fop_euro: "\e90f";
$ico-fop_expressaccount: "\e910";
$ico-fop_insurance: "\e911";
$ico-fop_international: "\e912";
$ico-fop_investment: "\e913";
$ico-fop_limits: "\e914";
$ico-fop_loan: "\e915";
$ico-fop_mortaje: "\e916";
$ico-fop_productportfolio: "\e917";
$ico-fop_return: "\e918";
$ico-fop_seecvv: "\e919";
$ico-fop_settings: "\e91a";
$ico-fop_stock: "\e91b";
$ico-fop_ticket: "\e91c";
$ico-fop_transfer: "\e91d";
$ico-fop_transferaccount: "\e91e";
$ico-fop_transfercard: "\e91f";
$ico-fop_wallet: "\e920";

