$icomoon-font-path: "../fonts" !default;

$ico-cm_alarm: "\e900";
$ico-cm_alert: "\e901";
$ico-cm_appstore: "\e902";
$ico-cm_audio: "\e903";
$ico-cm_BBVAcontigo: "\e904";
$ico-cm_bluetooth: "\e905";
$ico-cm_camera: "\e906";
$ico-cm_clock: "\e907";
$ico-cm_communication: "\e908";
$ico-cm_email: "\e909";
$ico-cm_facebook: "\e90a";
$ico-cm_facebook2: "\e90b";
$ico-cm_favorite: "\e90c";
$ico-cm_googleplus: "\e90d";
$ico-cm_googleplus2: "\e90e";
$ico-cm_gooplay2: "\e90f";
$ico-cm_hashtag: "\e910";
$ico-cm_help: "\e911";
$ico-cm_info: "\e912";
$ico-cm_instagram: "\e913";
$ico-cm_instagram2: "\e914";
$ico-cm_language: "\e915";
$ico-cm_linkedin: "\e916";
$ico-cm_linkedin2: "\e917";
$ico-cm_microphone: "\e918";
$ico-cm_mobiledisconnected: "\e919";
$ico-cm_nfcconnect: "\e91a";
$ico-cm_nfcdisconnect: "\e91b";
$ico-cm_pause: "\e91c";
$ico-cm_pinterest: "\e91d";
$ico-cm_pinterest2: "\e91e";
$ico-cm_play: "\e91f";
$ico-cm_quotemark: "\e920";
$ico-cm_reademail: "\e921";
$ico-cm_reply: "\e922";
$ico-cm_retweet: "\e923";
$ico-cm_send: "\e924";
$ico-cm_share: "\e925";
$ico-cm_slideshare: "\e926";
$ico-cm_slideshare2: "\e927";
$ico-cm_support: "\e928";
$ico-cm_telephone: "\e929";
$ico-cm_twitter: "\e92a";
$ico-cm_twitter2: "\e92b";
$ico-cm_videochat: "\e92c";
$ico-cm_videoplayline: "\e92d";
$ico-cm_youtube: "\e92e";
$ico-cm_youtube2: "\e92f";

